table.calendar, th.calendar, td.calendar, tr.calendarHeader, td.calendarRow, td.calendarRowWeekend
  {
  border: 1px solid white;
  }

table.calendar
  {
  width: 100%;
  }

div.calendarTopHeader
  {
  background-color: #C9E7F1;
  color: #018EB9;
  }

.calendarTotalContainer
  {
  background-color: #F4FCFF;
  border: 1px solid #A2CAD2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  }

th.calendar
  {
  text-align:center;
  width: 90px;
  background-color: #0084A7;
  color: white;
  }
  
td.calendarRow
  {
  height: 90px;
  vertical-align: top;
  background-color: #C9E7F1;
  }

td.calendarRowWeekend
  {
  height: 90px;
  vertical-align: top;
  background-color: #98D1E2;
  }

td.calendarRowHoliday
  {
  height: 90px;
  vertical-align: top;
  background-color: #63B9D4;
  #background-color: red;
  }

.holidayText
  {
  font-size:8px;
  }
  
a:link.eventLink, a:visited.eventLink
  {
  color: red;
  }

.calendarLeftPlaceholder
  {
  float:left;
  width: 30%;
  }

.calendarMonthYear
  {
  float:left;
  width: 40%;
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  }
  
.calendarGlobalLocal
  {
  float:right;
  background-color: #C9E7F1;
  height:26px;
  width: 50%;
  text-align: right;
  }
  
.calendarDropDown
  {
  float:left;
  width: 50%;
  font-size: 9px;
  background-color: #C9E7F1;
  height:26px;
  }

.calendarSelect
  {
  background-color: #C9E7F1;
  font-size: 9px;
  color: black;
  }

.calendarOptions
  {
  font-size:9px;
  height:15px;
  }
  
.calendarNav
  {
  margin-top:5px;
  font-size:10px;
  height: 15px;
  }
  
.calendarNavLeft
  {
  float:left;
  width:30%;
  }
  
.calendarNavCenter
  {
  font-size: 16px;
  color: #055161;
  float:left;
  text-align:center;
  width:40%;
  height: 18px;
  }
  
.calendarNavRight
  {
  float:right;
  }
  
.calendarContainer
  {
  margin-top:0px;
  padding-top:0px;
  }
  
.dvhdr1
  {
  background:#8ABAE6;
  font-family:arial;
  font-size:11px;
  font-weight:bold;
  border:1px solid #C8BA92;
  padding:5px;
  width:350px;
  }
         
.dvbdy1 
  {
  background:#FFFFFF;
  font-family:arial;
  font-size:11px;
  border-left:1px solid #C8BA92;
  border-right:1px solid #C8BA92;
  border-bottom:1px solid #C8BA92;
  padding:5px;
  width:350px;
  }
  
.hidden
  {
  display:none;
  }
  
.personal
  {
  font-size: 10px;
  }

.global
  {
  font-size: 10px;
  }

